#block-main-page {
  background-image: url('../assets/images/main-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#block-main-page .header {
  background-color:rgba(217, 217, 217, 0.3);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#block-main-page .header a {
  color: #263B2A;
  text-decoration: none;
  cursor: pointer;
}

#block-main-page .header a:hover {
  color: var(--tertiary-10);
}

#block-main-page .h1 {
  color: #263B2A;
  position: absolute;
  font-size: 48px;
  left: 58%;
  top: 425px;
  width: 805px;
  height: 75px;
}

#block-main-page button {
  border: none;
  background-color: transparent;
  font-size: 31px;
  cursor: pointer;
  border-radius: 20px;
  color: #263B2A;
  font-weight: bolder;
  border: 5px solid #263B2A;
  position: absolute;
  left: 60%;
  top: 525px;
  width: 430px;
  height: 90px;
}

#block-main-page button:hover {
  background-color: #263B2A;
  color: white;
}

#block-about-us {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#block-about-us .h1 {
  color: #263B2A;
}

#block-about-us p {
  color: #263B2A;
  font-size: 31px;
}

#block-about-us points {
  color: #263B2A;
  font-size: 96px;
  margin-left: 15%;
  margin-top: 6%;
  text-align: left;
  font-weight: bolder;
  display: block;
}

#block-about-us img {
  color: #263B2A;
  position: absolute;
  left: 60%;
  width: 430px;
  height: 600px;
}

#block-sections {
  display: flex;
}

#block-sections .unit{
  cursor: pointer;
  position: relative;
  width: calc(100% / 3);
}

#block-sections .unit .h1 {
  z-index: 10;
  color: #263B2A;
  background-color: rgba(248, 232, 205, 0.8);
  padding: 31px;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

#block-sections .unit img {
  width: 100%;
}

#block-sections .unit:hover img{
  -webkit-filter: grayscale(.75);
  filter: grayscale(.75);
}

#block-top-slow-cooker-recipes {
  width: 100%;
}

#block-top-slow-cooker-recipes .h1 {
  color: #263B2A;
  text-align: center;
}

#block-top-slow-cooker-recipes .recipes {
  display: flex;
  justify-content: space-evenly;
}

#block-top-slow-cooker-recipes .recipes .card {
  border: dashed #263B2A;
  border-radius: 100px;
  text-align: center;
}

#block-top-slow-cooker-recipes img {
  border-radius: 100px;
}

#block-top-slow-cooker-recipes .recipes .card .h1{
  border: #263B2A;
  text-align: center;
  font-size: 35px;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 5%;
}

#block-top-slow-cooker-recipes .recipes .card p{
  border: #263B2A;
  margin: 0;
}

#block-recommendation {
  width: 100%;
}

#block-recommendation .gallery{
  line-height: 0;       
  -webkit-column-count: 3;    
  -webkit-column-gap: 0px;    
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;    
  column-gap: 0px;    
  display:inline-block;    
  margin-right: auto;    
  margin-left: auto;  

}

#block-recommendation .h1 {
  color: #263B2A;
  text-align: center;
}

#block-recommendation .gallery img{
  width: 100% !important;    
  height: auto !important;  
}
