@import "./colors.css";

@font-face {
  font-family: "FuturaPT";
  src: url("../assets/fonts/FuturaPT-Heavy.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../assets/fonts/FuturaPT-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Quart";
  src: url("../assets/fonts/Quart.ttf");
  font-weight: 700;
}

.text-1 {
  font-family: "FuturaPT";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.text-2 {
  font-family: "FuturaPT";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-3 {
  font-family: "FuturaPT";
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.text-4 {
  font-family: "FuturaPT";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.h1 {
  font-family: "Quart";
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.h2 {
  font-family: "Quart";
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.h3 {
  font-family: "Quart";
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-primary-10 {
  color: var(--primary-10);
}
